#yaml-editor,
#template-output-editor {
    height: 100%;
    min-height: 0;
    overflow: hidden;
}

#yaml-editor .CodeMirror,
#template-output-editor .CodeMirror {
    height: 100%;
    font-family: "RedHatMono", "Liberation Mono", consolas, monospace;
    font-size: 13px;
    padding-left: 1px;
}
